@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background: #1f2937;
}


/* Animations */

.todo-anim {
    animation: todo-bounce 1s;
}

@keyframes todo-bounce {
    from {
        font-size: 400%;
    }
    to {
        font-size: auto;
    }
}

